.background-container {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    position: relative;

}
.background-picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-image:  url("./assets/mountain-weather.jpg");
    opacity: 0,5;
    filter: alpha(opacity-50);
}
.main-container {
    padding-top: 10px;
    margin-top: 30px;
    background-color: rgb(58, 64, 68);
    box-shadow: 8px 8px 5px #0e0b0b;
    height: 90%;
    width: 80%;
    position: relative;
    left: 80px;
    opacity: 0.6;
    filter: alpha(opacity= 60);
    border-radius: 12px;
    margin-left: 100px;
    display: inline-block;
}
.clock {
    top: 30px;
    left: 400px;
}
.quote {
    font-family: monospace;
    font-size: 30px;
    color: antiquewhite;
    position: absolute;
    left: 295px;
}
.icon {
    font-size: 100px;
    color: white;
    margin-left:400px;
}
.container-icons {
    padding-left: 315px;
}
.fahrenheit-button {
    width: 160px;
    margin-left: 696px;
    font-family: monospace;
    padding: 10px;
    background-color: aliceblue; 
    color: black;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgb(58, 64, 68);
    color: black;
    /* border: 2px solid black; */
    -webkit-transition-duration: 0.6s; 
    transition-duration: 0.6s;
    background-color: rgb(58, 64, 68); 
    color: white;
}
.fahrenheit-button:hover {
    background-color: rgb(58, 64, 68); 
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.first-container {
    background-color: black;
    padding-top: 69px;
    margin-top: 20px;
    height: 600px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 12px;
}
.first-container:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.second-container {
    background-color: black;
    padding-top: 69px;
    margin-top: 20px;
    height: 600px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 12px;
    box-shadow: 8px 8px 5px #0e0b0b;
}
.second-container:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.local-location {
    font-family: monospace;
    font-size: 40px;
    color: white;
    margin-left: 155px;
    position: inline-block;
}
.icon-box {
    

}
.weather-icons {
    width: 30px;
    font-size: 50px;
    color: white;
}
.temperature-icon {
    font-family: monospace;
    font-size: 20px;
    color: rgb(151, 151, 151);
    margin-left: 180px;
    position: inline-block;  

}
.more-info {
    margin-left: 80px;
    margin-top: 50px;
    font-family: monospace;
    font-size: 20px;
    color: rgb(151, 151, 151);
}
.temperature-text {
    margin-left: 174px;
    font-family: monospace;
    font-size: 25px;
    color: rgb(151, 151, 151);
    position:  inline-block;

}
