.main-body {
    background: black;
    height: 100%;
    width: 100%;
    position: relative;
}
.main-container {
    position: relative;
    top: 30%;
    left: 40%;
    z-index: 10;
    
}
.btn-prop {
    font-family: monospace;
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid rgb(60, 61, 60); 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 20px;
    border-radius: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}
.button:hover {
    opacity: 0,9;
}
.disabled {
    opacity: 0,6;
    cursor: not-allowed;
}
.social-containter {
    line-height: 32px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
}
.quotes {
    padding-left :60px;
    font-family: monospace;
    font-size: 40px;
    color:azure;

}

#quote {
    position: absolute;
}
#picture {
    position: relative;

}
.anchor-link {
    z-index: 5;
    font-family: monospace;
    color: white;
}
.anchor-link:hover {
    text-decoration: none;
}

.anchor-link:selected {
    text-decoration: none;
}
.quote-position {
    padding-top: 50px;
    padding-right:20px;
    position: relative;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    position: relative;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.link-twitter {
    padding-top: 288px;
    padding-left: 400px;
}
.pictures-band {
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./assets/bw.jpg");
}
